html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --background-pale: #FEF6E3;
  --pale-blue: #DEEBFF;
  --font-cursive: 'Sacramento', cursive;
  --font-serif: 'Sahitya', serif;
  --font-chunky: 'Rowdies', cursive;

  --max-width: 1200px;
}

body {
  margin: 0;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
}

.scroll-child {
  scroll-snap-align: start;
}